__pycache__
scripts/__pycache__
scripts/fp_scripts/__pycache__
.ipynb_checkpoints
__init__.py-*
primecam_integrated_pipeline.py
write_context_primecam.py
write_footprint_primecam.py

*.log
ccat_datacenter_mock*
logs/*
logs*
input_files/pysm3_map_nside2048_allStokes.fits
marvin_run_debug.slurm
marvin_run.slurm.bck
atm_cache/*
Planck_Parchment_RGB.txt
make_ml_map_primecam.py.bck
dump_logs/*
make_ml_map_primecam.outdated.py
make_ml_map_latest_sotodlib.py
input_files/fp_files

!input_files/fp_files/fp_f280_dettable.h5
